@import url(https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin);
html{
     font-family: 'Kanit', sans-serif;
}
body{    font-family: 'Kanit', sans-serif; font-weight: 300;
font-family: 'Kanit', sans-serif;
}

div.img {
   
margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 35vh;
    height: 53vh;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 50%;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:  blue;
}
.imgx{padding-left: 50px;}

.lnv{
     font-family: 'Kanit', sans-serif; font-weight: 300;
font-family: 'Kanit', sans-serif;
}